section.content {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.content .job_info {
    width: 340px;
    height: 250px;
    margin: 30px 30px 50px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

section.content .text {
    padding: 30px 20px;
    position: relative;
}


section h2.tipo{  
    font-family: 'Antic Slab', serif;
    font-size: 1.5rem;
    padding-bottom: 0;
}

section p.descricao{ 
    margin-top: 0;
    margin-bottom: 15px;
    padding: 12px 0;
    color: #AAA9A9;
}


section.content .text .location{ 
    padding: 12px 0;
    color: #F05454;
    font-weight: 600;
}

@media(max-width:1070px) {
    .info {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        gap: 40px;
    }
    .info h3 {
        text-align: center;
    }
    .info p, .info a {
        text-align: center;
    }
}