
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
}


.container li {
    padding: 2px;
    max-width: 100%;
}

.container h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    max-width: 100%;
}


 @media (max-width: 899px) {
    .container {
        margin: 0 auto;
        padding-bottom: 0;
        gap: 0;
    }

    .container .texto {
        margin: 30px;

    }
    .outras-fontes .container h2 {
        text-align: center;
        margin-bottom: 45px;
    }
    section.tutoriais article .texto {
        width: 500px;
    }
    section.tutoriais h2 {
        margin-bottom: 0;
    }

} 
@media (max-width: 743px) {
    section.tutoriais article img {
        margin-top: 50px;
    }

    section.tutoriais article,
    section.tutoriais article p {
        text-align: center;
    }
}
