.linguagem {
    background-color: #fff;
    margin: 60px 0;
    max-width: 100%;
    padding: 60px 0;
}


.linguagem h3 {
    font-family: 'Antic Slab', serif;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 40px;
    border-bottom: 3px solid #222831;
    display: inline-block;
}

.linguagem p {
    text-align: justify;
    padding: 20px 0 40px 0;
    max-width: 100%;
}

.linguagem img {
    width: 200px;
    max-width: 100%;
}

.linguagem a {
    text-decoration: underline;
    font-family: 'Urbanist', sans-serif;
    color: #F05454;
    max-width: 100%;

}

.linguagem li {
    padding: 2px;
    max-width: 100%;
    list-style: circle;
    color: #F05454;
}

.linguagem .texto {
    width: 500px;
    max-width: 100%;
    font-family: 'Urbanist', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
}


.container li {
    padding: 2px;
    max-width: 100%;
}

.container h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    max-width: 100%;
}


 @media (max-width: 899px) {
    .container {
        margin: 0 auto;
        padding-bottom: 0;
        gap: 0;
    }

    .container .texto {
        margin: 30px;

    }
    .outras-fontes .container h2 {
        text-align: center;
        margin-bottom: 45px;
    }
      article .texto {
        width: 500px;
    }
      h2 {
        margin-bottom: 0;
    }

} 
@media (max-width: 743px) {
      article img {
        margin-top: 50px;
    }

      article,
      article p {
        text-align: center;
    }
}
