.containerzao {
    width: 80vw;
    margin: 0 auto;
} 

.containerImagem{
    height: 400px;
    width: 300px;
    overflow: hidden;
    margin: 10px 0;
    padding: 10px;
}

.imagensSlide {
    float: left;
    width:  100%;
    height: 100%;
    object-fit: cover;
}


/* .imagensSlide {
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: auto;
} */

  .content {
    padding: 20px;
    margin: auto;
    width: 90%;
  }
  .slick-slide .image {
    padding: 10px;
  }
  .slick-slide img {
    display: block;
    margin: auto;
  }
  .slick-slide img.slick-loading {
    border: 0;
  }
  .slick-slider {
    margin: 30px auto 50px;
  }
  .slick-dots {
    margin-left: 0;
  }
  .slick-thumb {
    bottom: -45px;
  }
  .slick-thumb li {
    width: 60px;
    height: 45px;
  }
  .slick-thumb li img {
    filter: grayscale(100%);
  }
  .slick-thumb li.slick-active img {
    filter: grayscale(0%);
  }
  @media (max-width: 768px) {
    .center {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
  .slick-vertical .slick-slide {
    height: 180px;
  }
  .slick-arrow {
    background-color: grey;
    /* color: black; */
  }
  .slick-arrow:hover {
    background-color: grey;
  }

  .slick-next, .slick-prev {
      background-color:  #f0545400;
  }

  .slick-next:hover, .slick-prev:hover{
      background-color: #f0545400;
  }

  .slick-next::before, .slick-prev::before {
      color: #222831;
  }