
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: #222831;
}

button {
    border: none;
    text-decoration: none;

    cursor: pointer;
}

body {
    background: #e8e8e8;
    color: #222831;

    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
}

.logo {
    cursor: pointer;
    width: 199px;
    height: 39px;
} 

.escolhido {
    background-color: #222831 !important;
}

@media(max-width: 830px) {
    .buttonVagasHome {
        top: 0;
        left: 0;
        transform: translateX(50%);
    }
}

@media(max-width: 700px) {
    .buttonVagasHome {
        transform: translateX(40%);
    }
}

@media(max-width: 600px) {
    .buttonVagasHome {
        transform: translateX(30%);
    }
}

@media(max-width: 520px) {
    .buttonVagasHome {
        transform: translateX(20%);
    }
}