/* header */

header {
    /* menu fixo */
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 90000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 45px 70px 40px 70px;
}

.transparente {
    /* background transparente */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0) 100%);
}

header.solid { 
    background: #343434;
}

header ul {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a {
    background: #fff;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;

    color: #fff;
    text-transform: uppercase;
    font-weight: 500;

    padding: 10px;
    margin-right: 10px; /* hendy */

    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;
}

header li:last-of-type a {
    margin: 0;
}
  
header li a:hover {
    color: #F05454;

    background-size: 4px 50px;
}