.foto-4 { grid-area: foto-4; }
.foto-2 { grid-area: foto-2; }
.foto-1 { grid-area: foto-1; }
.foto-3 { grid-area: foto-3; }
.foto-5 {
    grid-area: foto-5;

    width: 100%;
    height: 500px;
    min-height: 200px;
}
.foto {
    -webkit-box-shadow: 1px 4px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 1px 4px 15px 5px rgba(0,0,0,0.4);
}
.frase_inspiracao {
    background-color: #f054547c;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.5s linear;
}
.frase_inspiracao cite {
    text-align: center;
    font-size: 1.2rem;
}
.frase_inspiracao:hover {
    opacity: 1;
}
p.frase_inspiracao {
    color: #fff;

    font-family: 'Antic Slab';
}
p.frase_inspiracao cite {
    font-weight: bold;
}